{%extends "db.html"%}
{%block body%}

<p>In December 2003, the FCC began collecting data to build a registry of public safety answering points (PSAPs). A primary PSAP is defined as a PSAP to which 9-1-1 calls are routed directly from the 9-1-1 Control Office, such as, a selective router or 9-1-1 tandem. A secondary PSAP is defined as a PSAP to which 9-1-1 calls are transferred from a primary PSAP. The PSAP database serves as a tool to aid the Commission in evaluating the state of PSAP readiness and E9-1-1 deployment.</p>
<p>
<blockquote>
<p align="center">

Enter The Brand new 9-1-1 PSAP Database
</p>

<p align="center">
<a href="/login">Sign In</a>

</p>
 
	<p></p>

	</p>
</blockquote>	
<p>The Registry lists PSAPs by an FCC assigned identification number, PSAP Name, State, County, City, and provides information on any type of record change and the reason for updating the record. The Commission updates the Registry periodically as it receives additional information. For further information concerning the FCC's Master PSAP Registry and carrier reporting requirements, or to notify the Commission of changes to the PSAP Registry, contact Timothy May at <a href="mailto:Timothy.May@fcc.gov">Timothy.May@fcc.gov</a> or at 202-418-1463.</p>		

{%endblock%}
