{%extends "db.html"%}

{%block body%}
{%include "header.html"%}

<link rel="stylesheet" type="text/css" href="static/css/custom.css">

<p align="center"><b>List of Users for {{email}}</b></p>

{% if pgSource.count > 0%}
<div>
<a class="alignleft"><b>{{ pgSource.start_index }} to {{ pgSource.end_index }}  out of {{ pgSource.count }}</b></a>

{% if (pgSource.has_next == True) %}
<a class="alignright" href=listUser?page={{pgSource.next_page }} >Next Page ({{ pgSource.next_page }})</a>
{% endif %}
{% if (pgSource.has_previous == True) and (pgSource.has_next == True) %}
 <a class="alignright"> <></a>
{%endif%}
{% if (pgSource.has_previous == True) %}
<a class="alignright" href=listUser?page={{pgSource.previous_page }} >Prev Page ({{ pgSource.previous_page }}) </a>
{% endif %}
</div>
<div style="clear: both;"></div>


<p align="center"> <h4> User List </h4>
<table id="tableData">
  <tr>
    <td width="15%">Email</td>
    <td width="35%">Read Access</td>
    <td width="35%">Write Access</td>
    <td width="15%">Registered</td>
  </tr>
  {% for unit in dataList %}
  <tr>
    <td>{{unit['email']}}</td>
    <td>{{unit['read_access']}}</td>
    <td>{{unit['write_access']}}</td>
    <td>{{unit['registered']}}</td>
  </tr>
  {% endfor %}
</table>
</p>
{% endif %}

{%endblock%}